# Python
__pycache__/
*.pyc

# Distribution / Packaging
dist/
build/
*.egg-info/

# Streamlit
.streamlit/

# Output files
result.csv
output_result.csv
*.csv.bkp

# Editors
.vscode/
.idea/

# Environment
.env
venv/
